:root {
    --background:#fffffb;
    --text:rgb(18, 18, 18);
    --font: "PT Mono", monospace;
}   
/* body */
body{
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* decoration for all titles */
.title{
    text-decoration: underline dotted green;
    font-size: 30px;
    font-family:  var(--font);
}
/* overall spacing set */
section{
    margin-bottom:30px;
}
/* navigation */
.nav-link{
    color: blue !important;
    font-size: 15px ;
    font-family:  var(--font);
}
/* adding hover animation */
.nav-link:hover{
    text-decoration: underline dashed;
}
.font{
  font-family: var(--font);
}
.jumbotron{
background: url('../images/hero.jpg') no-repeat center center fixed;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* height:600px; */
}
.hero{
  margin-top: -56px;
  
}
.hero h1{
    font-family: "PT Mono", monospace;
    font-weight: 200;
    font-style: normal;
    font-size:  calc(2rem + 6.5vw);
}
.maincard{
  height:80vh ;
  background: url('../images/backgroup-mood.png') no-repeat ;
  background-size: cover; /* Resize the background image to fit the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; 
}
/* about me */
.aboutMe p{
    word-spacing: 1px;
}

/* work */
  h5{
   font-stretch: expanded;
   text-decoration: double;
} 

/* skills */
.skills ul{
    list-style:none;
}

/* footer */

/* mood page */
.head h1{
  font-family: var(--font);
}

.moodboard{
  background: url('../images/backgroup-mood.png') no-repeat center center fixed;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:600px;}

.maintext{
  background-color:  rgb(195 219 208);
}
.green{
  color: green;
}
.pink{
color: palevioletred;
}
.purple{
  color: plum;
}

.card{
  background-color: rgba(153, 186, 164, 0.655);
}
.question{
  color: rgb(60, 78, 29);
}


/* for mobile phones */
[class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets and desktop: */
    .col-1 {width: 8.33%;} 
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  }